:root[data-theme="light"] {
    --btn-archived-bg: #6c757d;
    --btn-archived-hover: #5a6268;
    --card-bg: #f0f0f0;
    --main-blue: #537a9c;
    --main-blue-hover: #567998;
    --gray-light: #cccccc;
    --dot-btn-bg: #668298;
    --dot-color: #000000;
    --title-color: #1a3c5a;
    --btn-delete: #dc3545;
    --text-white: #ffffff;
}

:root[data-theme="dark"] {
    --btn-archived-bg: #4e5b66;
    --btn-archived-hover: #3c454d;
    --card-bg: #2a2f35;
    --main-blue: #335a77;
    --main-blue-hover: #3a607c;
    --gray-light: #999999;
    --dot-btn-bg: #4e6374;
    --dot-color: #e0e0e0;
    --title-color: #a9c5e6;
    --btn-delete: #b33a40;
    --text-white: #f5f5f5;
}

/* ----------------- CONTAINER PRINCIPAL ----------------- */
.container-cursuri {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0;
    padding: 20px 30px;
}

/* ----------------- TITLURI ----------------- */
.cursuri-titlu {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--title-color);
    text-align: left;
    width: 100%;
}

.cursuri-titlu h1 {
    font-size: 2.2em;
    padding-left: 10px;
}

h2 {
    font-size: 1.4em;
    color: var(--main-blue);
    padding-left: 10px;
}

/* ----------------- LISTA CURSURE ----------------- */
.lista-cursuri {
    width: 100%;
    padding-left: 0;
    margin: 0;
}

/* ----------------- RAND CURSUL ----------------- */
.rand-curs {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 10px;
}

.rand-curs .buton-curs {
    width: 100%;
    min-width: 300px;
    padding: 20px 35px;
    text-align: left;
    font-size: 18px;
    white-space: nowrap;
}

.rand-curs .buton-curs:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


@keyframes ripple {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }

    100% {
        width: 400px;
        height: 400px;
        opacity: 0;
    }
}

.Adauga {
    height: 90px;
    width: 250px !important;
    border-radius: 50px;
    left: 10%;
    font-size: 1.5rem;
    text-align: center;
}

.buton-arhivat {
    background-color: var(--btn-delete);
    color: var(--text-white);
    border: none;
    font-weight: bold;
}