:root[data-theme="light"] {
  --bg-color: #f5f9ff;
  --text-color: #111;
  --sidebar-bg: #ffffff;
}

:root[data-theme="dark"] {
  --bg-color: #1e2a3a;
  --text-color: #f5f5f5;
  --sidebar-bg: #18222f;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}