.schedule-table-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 80%;
  text-align: center;
}

.schedule-table-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.schedule-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.schedule-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.schedule-table tr:hover {
  background-color: #f1f1f1;
}