.cerere-adeverinte-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .adeverinte-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .adeverinte-list li {
    margin-bottom: 10px;
  }
  
  .adeverinte-button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #537A9C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .adeverinte-button:hover {
    background-color: #3a5f7d;
  }
  
  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1A3C5A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #142c42;
  }