.detalii-container {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #1a355e;
    overflow-y: auto;
}

.buton-inapoi {
    align-self: flex-start;
    background-color: #537A9C;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

.buton-curs {
    width: fit-content;
    margin-bottom: 20px;
}

.titlu-curs {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.titlu-curs h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    color: #1a355e;
}

.sectiune {
    width: 70vh;
    background-color: #ccc;
    padding: 10px;
    margin-top: 30px;
    border-radius: 6px;
}

.bibliografie {
    margin-top: 110px;
}

a {
    text-decoration: none;
    color: #1a355e;
}

.sectiune h2 {
    font-size: 40px;
    margin: 0;
}